<div id="content">
    <div class="row">
      <sa-big-breadcrumbs [items]="['Reporting', 'Mission']" icon="trello"
          class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>

    <sa-widgets-grid>
      <!-- row -->
      <div class="row">
          <!-- NEW WIDGET START -->
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- Widget ID (each widget will need unique ID)-->
              <sa-widget color="blue" [colorbutton]="false" [deletebutton]="false" [editbutton]="false">
                  <!-- widget options:              usage: <sa-widget id="wid-id-0" [editbutton]="false">              [colorbutton]="false"              [editbutton]="false"              [togglebutton]="false"              [deletebutton]="false"              [fullscreenbutton]="false"              [custombutton]="false"              [collapsed]="true"              [sortable]="false"          -->
                  <header>
                      <h2>Missions</h2>
                  </header> <!-- widget div-->
                  <div>
                      <!-- widget content -->
                      <div class="widget-body">
                          <div>
                              <div class="row">
                                  <div class="col-sm-6 pull-right">
                                      <ul class="demo-btns pull-right">
                                        <li> 
                                            <a href="javascript:void(0);"
                                              class="btn btn-default txt-color-greenDark"
                                              (click)="loadGridData($event)"><i
                                              class="fa fa-refresh fa-lg"></i>
                                            </a> 
                                        </li>    
                                        <li> 
                                            <a href="javascript:void(0);"
                                            class="btn btn-default txt-color-greenDark"
                                            (click)="exportMissionToCsv($event)"><i
                                            class="fa fa-file-excel-o fa-lg"></i>
                                            </a> 
                                        </li>
                                            
                                      </ul>
                                  </div>
                              </div>
                              <ag-grid-angular style="width: 100%; height: 600px;"
                                  class="ag-theme-balham" [enableSorting]="true" [enableFilter]="true"
                                  [rowData]="rowData" [columnDefs]="columnDefs" [rowSelection]="rowSelection"
                                  [enableColResize]="true" [pagination]="true" [paginationPageSize]="20" 
                                  [debug]="true" [localeText]="localeText" (selectionChanged)="onSelectionChanged($event)" 
                                  (gridReady)="onGridReady($event)" (rowDoubleClicked)="onRowDoubleClicked($event)">
                               </ag-grid-angular>
                          </div>
                      </div> <!-- end widget content -->
                  </div> <!-- end widget div -->
              </sa-widget>
          </article>
      </div>
  </sa-widgets-grid>
  
  </div>