<div id="main" role="main" class="animated fadeInDown" style="background-color:#F6F6F6">
    <div id="content" class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 center-block" style="float:none"> <img
                    src="../../../assets/img/logomai.png" class="center-block"
                    style="float:none; margin-bottom: 15px;" />
                <div class="well no-padding">
                    <form class="smart-form client-form">
                        <header
                            style="    background-color: #0E5993;    font-size: 14px;    padding: 5px 5px 4px 4px;    color: #fff;">
                            <i class="fa fa-refresh"></i> Mot de passe oublié </header>
                        <fieldset>
                            <section> <label class="label"
                                    style="font-size: 12px;    font-weight: bold;    color: #0E5993;    margin-bottom: 0px;">Votre
                                    E-Mail</label> <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <input type="email" name="email"> <b class="tooltip tooltip-top-right"><i
                                            class="fa fa-envelope txt-color-teal"></i> Veuillez saisir votre E-Mail</b>
                                </label> </section>
                            <section> <span class="timeline-seperator text-center text-primary"> <span
                                        class="font-sm">OU</span> </span> </section>
                            <section> <label class="label"
                                    style="font-size: 12px;    font-weight: bold;    color: #0E5993;    margin-bottom: 0px;">Nom
                                    d'utilisateur</label> <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="email" data-smart-validate-input="" data-required=""
                                        data-email="" data-message-required="Please enter your email address"
                                        data-message-email="Please enter a VALID email address"> <b
                                        class="tooltip tooltip-top-right"> <i class="fa fa-user txt-color-teal"></i>
                                        Veuillez saisir votre nom d'utilisateur </b> </label> </section>
                        </fieldset>
                        <footer>
                            <div class="center-block" style="text-align:center"> <button (click)="submit($event)"
                                    class="btn btn-primary " style="margin-bottom: 20px; min-width: 200px;"> Générer mon
                                    mot de passe </button> <br /> <a style="text-decoration:underline;"
                                    href="/#/auth/login">Se Connecter</a> </div>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>